<!-- External notes -->
<div class="card card-ccsp mt-2">
	<div class="card-header card-header-ccsp border-0 d-flex">
			<span class="align-middle">Comments ({{$ctrl.application.comments.length}})</span>

		<div class="ml-auto">
			<button type="button" class="btn btn-link align-middle py-0" ng-click="$ctrl.isExternalCommentCollapsed = !$ctrl.isExternalCommentCollapsed">
				<span ng-if="$ctrl.isExternalCommentCollapsed" class="align-middle"><i class="fas fa-eye align-middle" aria-hidden></i>&nbsp;<span>Show all comments</span></span>
				<span ng-if="!$ctrl.isExternalCommentCollapsed" class="align-middle"><i class="fas fa-eye-slash align-middle" aria-hidden></i>&nbsp;<span>Collapse comments</span></span>
			</button>
			<button type="button" class="btn btn-link align-middle py-0 pr-0" ng-click="$ctrl.addComment()">
				<i class="fas fa-plus text-primary" aria-hidden></i>
				<span class="sr-only">Add comment</span>
			</button>
		</div>

	</div>

	<div class="card-body pt-0">

		<div ng-repeat="comment in $ctrl.application.comments | orderBy : '-_timestamp'">
			<article class="mb-2 row" ng-class="{'flex-row-reverse' : comment.author.includes($ctrl.application.employee.lastName), 'd-none' : (!$first && $ctrl.isExternalCommentCollapsed)}">
				<p class="align-self-center mb-0 col-2" ng-class="{'text-right' : !comment.author.includes($ctrl.application.employee.lastName)}">
					<span class="text-nowrap d-block">{{ comment.author }}</span>
					<span class="text-nowrap d-inline text-muted small">{{ comment.timestamp | date }}</span> &middot;
					<span class="text-nowrap text-muted small">{{ comment.timestamp | date : 'shortTime' }}</span>
				</p>
				<div class="col-10">
					<p class="speech-bubble mb-0 px-4 py-3" ng-class="comment.author.includes($ctrl.application.employee.lastName) ? 'speech-bubble-right' : 'speech-bubble-left'">
						<span ng-class="{ 'd-inline-block text-truncate' : $first && $ctrl.isExternalCommentCollapsed }" style="max-width:100%" >
							<span class="badge badge-secondary badge-pill" ng-if="comment.type === 'external' && !comment.author.includes($ctrl.application.employee.lastName)">Sent to employee</span>
							{{ comment.message }}
						</span>
					</p>
				</div>
			</article>
		</div>
	</div>



		<!-- <div class="mb-2 row">
			<p class="align-self-center text-right mb-0 col-2">
				<span class="text-nowrap d-block">Kathy Kasabula</span>
				<span class="text-nowrap d-block text-muted small">Aug 15, 2018</span>
				<span class="text-nowrap d-block text-muted small">3:26pm</span>
			</p>
			<div class="col-10">
				<p class="speech-bubble speech-bubble-left mb-0 px-4 py-3"><span ng-class="$ctrl.isExternalCommentCollapsed ? 'd-inline-block text-truncate' : ''" style="max-width:100%">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span></p>
			</div>
		</div>

		<div class="mb-2 row" ng-if="!$ctrl.isExternalCommentCollapsed">
			<div class="col-10">
				<p class="speech-bubble speech-bubble-right mb-0 px-4 py-3">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
			</div>
			<p class="align-self-center ml-4 mb-0">
				<span class="text-nowrap d-block">
					{{$ctrl.application.employee.lastName}}, {{$ctrl.application.employee.firstName}} {{$ctrl.application.employee.middleInitial}}
				</span>
				<span class="text-nowrap d-block text-muted small">Aug 17, 2018</span>
				<span class="text-nowrap text-muted small">9:54am</span>
			</p>
		</div>

		<div class="media mb-2 row" ng-if="!$ctrl.isExternalCommentCollapsed">
			<p class="align-self-center text-right mb-0 col-2">
				<span class="text-nowrap d-block">Kathy Kasabula</span>
				<span class="text-nowrap d-block text-muted small">Aug 18, 2018</span>
				<span class="text-nowrap">
					<span class="text-muted small">2:11pm</span>
					<span class="badge badge-secondary">Internal</span>
				</span>
			</p>
			<div class="media-body col-10">
				<p class="speech-bubble speech-bubble-left mb-0 px-4 py-3">
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</p>
			</div>
		</div> -->
	</div>
</div>
