
body {
	background-color: #f6f6f6;
	padding-bottom: 100px;
}

.dl-reversed > div > dt {font-weight: 400; color: var(--gray);}
.dl-reversed > div > dd {font-weight: 500;}

.card-ccsp {
	border-color: #cde9f9;
}

.card-header-ccsp {
	/* background-color: var(--gray-dark) !important; */
	background-color: #e2f3ff !important;
	font-weight: 700;
	color: #115175;
}

.c-pointer {cursor: pointer;}

.border-gray {
	border-color: var(--gray);
}

label {
	margin-bottom: .15rem;
	color: var(--gray);
}

input, select, textarea {
	color:#444;
	font-weight: 500;
}

.form-group {
	margin-bottom: .65rem;
}

.modal-footer {
	background-color: #3b3b3b;
	margin: 0 -1px -1px -1px;
	border-top: 0;
}
