<main class="pt-4">

	<!-- APLICATION DETAILS -->
	<!-- @TODO move app details to component -->
	<div class="clearfix">
		<p class="text-muted float-left">
			<span ng-class="$ctrl.application.badgeClass"
			      class="badge align-middle"
			      uib-popover-template="'popover.html'"
			      popover-placement="bottom-left"
			      popover-trigger="click"
			      popover-class="popover-xl"
						popover-title="Application status">
			{{$ctrl.application.statusMessage}}
			<i class="fas fa-pencil-alt text-white" aria-hidden=""></i>&nbsp;
		 </span> &middot;
			<span class="align-middle">
				Academic Year {{$ctrl.application.academicYear}}
			</span> &middot;
			<span class="align-middle">
		 		Submitted on
				 <span ng-repeat="submissionDate in $ctrl.application.submissionDates" ng-if="$last">
						{{submissionDate | date : 'mediumDate'}}
					</span>
			</span> &middot;
			<span class="align-middle">
				Funding source: {{$ctrl.application.employee.fundingSource}}
			</span>
		</p>

		<!-- @TODO move to component -->
		<!-- @TODO disable buttons when at end of range -->
		<div class="float-right">
			<button ng-click="$ctrl.prev()" ng-disabled="$ctrl.application.orderIndex === 0" type="button" class="btn btn-white text-primary btn-sm align-middle">
				Prev
			</button>
			<button ng-click="$ctrl.next()" type="button" class="btn btn-white text-primary btn-sm align-middle">
				Next
			</button>
		</div>
	</div>


	<div class="card-deck mt-4">
		<!-- ugh, need to put the .card classes on the custom element as .card-deck expects them as children -->

		<!-- EMPLOYEE -->
		<employee-detail class="card card-ccsp" employee="$ctrl.application.employee"></employee-detail>

		<!-- SPOUSE -->
		<spouse-detail class="card card-ccsp" spouse="$ctrl.spouse" employee="$ctrl.application.employee" ng-if="$ctrl.application.employee.maritalStatus !== 'singleOrWidowed'"></spouse-detail>
	</div>

	<!-- AWARD -->
	<award-detail spouse="$ctrl.spouse" employee="$ctrl.application.employee" children="$ctrl.children" tcc-tuition="$ctrl.tccTuition"></award-detail>

	<!-- CHILDREN -->
	<children-list children="$ctrl.children"></children-list>

	<!-- GROSS ESTIMATED INCOME -->
  <income-detail spouse="$ctrl.spouse" employee="$ctrl.application.employee"></income-detail>


	<!-- FINANCIAL DOCUMENTS -->
	<financial-documents-detail spouse="$ctrl.spouse" employee="$ctrl.application.employee"></financial-documents-detail>

</main>

<!-- @TODO move footer to component -->
<div class="bg-dark-transparent border-top w-100 position-fixed fixed-bottom" ng-if="$ctrl.application.statusCode === 0">
	<footer class="container clearfix p-3">
		<div class="float-left">
			<button type="button" class="btn btn-warning font-weight-bold">
				<i class="fas fa-reply" aria-hidden></i> Return
			</button>
			<button type="button" class="btn btn-danger font-weight-bold">
				<i class="fas fa-ban" aria-hidden></i> Deny
			</button>
		</div>
		<div class="float-right">
			<!-- <button type="button" class="btn btn-light">
				<i class="fas fa-save" aria-hidden></i> Save
			</button> -->
			<button type="button" class="btn btn-success font-weight-bold">
				<i class="fas fa-thumbs-up" aria-hidden></i> Approve
			</button>
		</div>
	</footer>
</div>


<div class="bg-dark-transparent border-top w-100 position-fixed fixed-bottom" ng-if="$ctrl.isAwardChanged === true">
	<footer class="container clearfix p-3">
		<div class="float-right">
	    <span class="text-light d-inline-block">
				<i class="fas fa-exclamation-triangle text-light d-inline-block mr-2"></i>
				Award calculation has changed. New award creation is required.
			</span>
			<button type="button" class="btn btn-warning font-weight-bold align-middle ml-3">
				<i class="fas fa-plus" aria-hidden=""></i> Create new award
			</button>
			<!-- <button type="button" class="btn btn-light">
				<i class="fas fa-save" aria-hidden></i> Save
			</button> -->
		</div>
	</footer>
</div>

<script type="text/ng-template" id="popover.html">
  <div>
  <dl class="dl-reversed small text-nowrap mb-0">
  	<div class="row">
  		<dt class="col-4 text-right align-middle">Aug 1, 2018</dt>
			<dd class="col-8 align-middle"><i class="badge badge-chiclet align-middle badge-primary" ng-class="application.badgeClass">&nbsp;</i> Pending approval</dd>
  	</div>
  	<div class="row">
  		<dt class="col-4 text-right align-middle">Aug 3, 2018</dt>
			<dd class="col-8 align-middle"><i class="badge badge-chiclet align-middle badge-warning" ng-class="application.badgeClass">&nbsp;</i> Returned</dd>
  	</div>
  	<div class="row">
  		<dt class="col-4 text-right align-middle">Aug 6, 2018</dt>
			<dd class="col-8 align-middle"><i class="badge badge-chiclet align-middle badge-primary" ng-class="application.badgeClass">&nbsp;</i> Pending approval</dd>
  	</div>
  	<div class="row">
  		<dt class="col-4 text-right align-middle">Aug 7, 2018</dt>
			<dd class="col-8 align-middle"><i class="badge badge-chiclet align-middle badge-info" ng-class="application.badgeClass">&nbsp;</i> Approved</dd>
  	</div>
  	<div class="row">
  		<dt class="col-4 text-right align-middle">Aug 7, 2018</dt>
			<dd class="col-8 align-middle"><i class="badge badge-chiclet align-middle badge-success" ng-class="application.badgeClass">&nbsp;</i> Confirmed</dd>
  	</div>
  </dl>
	<button type="button" class="btn btn-sm btn-danger w-100 mt-4 small">Change status to Denied</button>
  </div>
</script>
