<div class-disabled="card card-ccsp">
	<div class="card-header card-header-ccsp border-0 clearfix">
		<div class="float-left">
			<span class="align-middle">
				{{ $ctrl.spouse.lastName }},
				{{ $ctrl.spouse.firstName }}
				{{ $ctrl.spouse.middleInitial }}
			</span>
			&nbsp;
			<span class="text-muted align-middle">
				(
				<span>{{ $ctrl.employee.spouseMaritalTitle | createLabelFromKey }}</span>
			<span ng-if="$ctrl.employee.isPrimaryContact === false"> / Primary Contact</span>
			)
			</span>

		</div>
		<div class="float-right">

			<a href="mailto:{{ $ctrl.spouse.email }}" title="{{ $ctrl.spouse.email }}" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-envelope" aria-hidden></i>
					<span class="sr-only">email</span>
				</a>
			&nbsp;
			<a href="tel:{{ $ctrl.spouse.phone }}" title="{{ $ctrl.spouse.phone }}" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-phone" aria-hidden></i>
					<span class="sr-only">phone</span>
				</a>
		</div>
	</div>
	<div class="card-body p-0">
		<!-- <h3 class="h6 card-subtitle mb-2 text-muted">Card subtitle</h3> -->
		<div class="card-text">
		</div>
		<div class="card bg-light m-0 border-0">
			<div class="card-header border-0 bg-white pl-4 pr-4 border-0 c-pointer" ng-click="isCollapsed = !isCollapsed">
				<i class="fas fa-check-circle text-success" aria-label="yes"></i>&nbsp;Employment Details
			</div>
			<!-- <h5 class="card-title">Secondary card title</h5> -->
			<div class="card-body" uib-collapse="isCollapsed">
				<dl class="dl-reversed dl-horizontal">
					<div>
						<dt>Employer name</dt>
						<dd>Plan 3 Architects</dd>
					</div>
					<div>
						<dt>Hired on</dt>
						<dd>May 23, 2009</dd>
					</div>
					<div>
						<dt>Appointment end date <small class="text-muted">(if known)</small></dt>
						<dd>—</dd>
					</div>
					<div>
						<dt>Employment &gt; 20h</dt>
						<dd><i class="fas fa-check" aria-label="yes"></i></dd>
					</div>
					<div>
						<dt>Payment Frequency</dt>
						<dd>Weekly</dd>
					</div>
				</dl>
			</div>
		</div>
	</div>
</div>
