<div class="card card-ccsp mt-2">
	<div class="card-header card-header-ccsp  border-0 bg-white">
		<div class="float-left">Children</div>
		<div class="float-right">
			<button type="button" class="btn btn-link align-middle py-0 float-right pr-0" ng-click="$ctrl.editChildrenList()">
				<i class="fas fa-pencil-alt text-primary" aria-hidden></i>
				<span class="sr-only">edit</span>
			</button>
		</div>
	</div>
	<div class="card-body p-0">
		<!-- <h3 class="h6 card-subtitle mb-2 text-muted">Card subtitle</h3> -->
		<div class="card-text">
			<table class="table mb-0" id="childrenList">
				<thead>
					<tr>
						<th scope="col" class="pt-4">&nbsp;</th>
						<th scope="col" class="pt-4">First Name</th>
						<th scope="col" class="pt-4">Last Name</th>
						<th scope="col" class="pt-4">Birth Date</th>
						<th scope="col" class="pt-4">TCC Center</th>
						<th scope="col" class="pt-4">Classroom</th>
						<th scope="col" class="pt-4">Days per Week</th>
						<th scope="col" class="pt-4" ng-if="$ctrl.children[0].tccCenter.toLowerCase() === 'westgate'">Schedule</th>

					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="child in $ctrl.children">
						<th scope="row">
							{{ $index + 1 }}
						</th>
						<td>
							{{ child.firstName }}
						</td>
						<td>
							{{ child.lastName }}
						</td>
						<td>
							{{ child.dateOfBirth | date : 'mediumDate' }}
						</td>
						<td>
							{{ child.tccCenter }}
						</td>
						<td>
							{{ child.classRoom}}
						</td>
						<td>
							{{ child.daysPerWeek }}
						</td>
						<td ng-if="$ctrl.children[0].tccCenter.toLowerCase() === 'westgate'">
							{{ child.schedule | createLabelFromKey }}
						</td>
					</tr>
				</tbody>
				<!-- <tfoot>
					<tr>
						<td colspan="999"><button type="button" class="btn btn-primary btn-sm float-right" id="addChild">+ Add a Child</button></td>
					</tr>
				</tfoot> -->
			</table>
		</div>
	</div>
</div>
